<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Doctors</title>
    <link rel="icon" href="/static/ico.ico" type="image/x-icon"> 
    <link rel="stylesheet" href="/css/doctorstyle.css">

    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <style>
        /* CSS styles for the card */
        .card {
            width: 500px;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            overflow: hidden;

            background-color: #fff;
            margin: 10px;
            flex: 30%;
            background: rgba(0,0,0,0.3);
            backdrop-filter: blur(5px);
            color: wheat;
            padding: 15px;
        }

        .card-header {
            background-color: #007bff;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        .card-body {
            padding: 5px;
            display: flex;
        }

        .card-body p {
            margin: 5px 0;
        }

        .doctor-img {
            width: 100px;
            height: 100px;
            border-radius: 25px;
        }

        /* CSS styles for the left column */
        .column-30 {
            flex: 30%;
            padding: 20px;
        }

        .column-50 {
            flex: 50%;

        }

        /* CSS styles for the right column */
        .column-70 {
            flex: 70%;
            padding: 20px;
        }

        .card-container {
            display: flex;
            transition: opacity 0.3s ease-in-out;
        }

        .card-footer {
            margin-left: 20px;
            display: flex;

            p {
                margin: 5px 0;
            }

        }

        #submit {
            display: block;
            width: 61%;
            color: #fff;
            height: 30px;
            background-color: rgba(0,0,0,0.1);
            border-style: none;
            font-family: "Poppins", sans-serif;
            opacity: 1;
            transition: transform 0.3s ease, background-color 0.3s ease;
            border-radius: 10px;
            margin-left: 75px;
            margin-top: 30px;
        }

        #submit:hover{
            transform: scale(1.3);
            background-color: green;
        }

        body{
            background-image: url('/static/bb.jpg');
        }

        .headerdoc{
            background-color: rgba(0,0,0,0.5);
        }

        .logodoc {
            display: flex;
            align-items: center;
            font-size: 1.1rem;
            font-weight: 500;
            color: wheat;
            column-gap: 0.5rem;
        }

        .logodoc .bx {
            font-size: 24px;
            color: var(--green-color);
        }

        li{
            a{
                color: wheat;
            }
        }

        #logout{
            color: wheat;
        }
    </style>
</head>
<body>

    <header class="headerdoc">
        <a href="#" class="logodoc"><i class='bx bx-spa'></i>Ayurconnect</a>

        <ul class="navbar">
            <li><a href="/home" class="home-active"> Home </a></li>
            <li><a href="/ourdoctors" class="doclink">Our Doctors</a></li>
            <li><a href="/ayurvedatreatments">Ayurveda Treatment</a> </a></li>
            <li><a href="/ayurvedicproducts">Ayurvedic Products</a></li>

        </ul>

        <div class="profile">
            <span id="userSpan" style="color: wheat;"><%= user %></span> 
                
            </i>
        </div>

        <div><button id="logout" onclick="logout">Logout</button></div>
    </header>
    <div class="card-container">
        <% if (data && data.length > 0) { %>
        <% for (item of data) { %>
            <div class="card">  
                <div class="card-body">

                    <div class="column-30">
                        <img class="doctor-img" src="<%= item.dimage %>"    alt="alternative_text">
                    </div>
                    <div class="column-70">
                        <h1> <%=item.dname %></h1>  
                        <p><strong>Qualification:</strong> <%=item.qualification %></p>
                        <p><strong>Specialty:</strong> Cardiology</p>
                        <p><strong>Location:</strong> <%= item.location %></p>
                        <p><strong>Contact:</strong> <%=  item.contact %></p>
                        <p><strong>Email:</strong> <%= item.email  %></p>
                    </div>
                    

                </div>
                <div class="card-footer">
                    <div class="column-50">
                        <P> <strong>Consulting time</strong></P>
                        <p>Monday, Wenesday & Saturday</p>
                        <p>10 am to 1 pm</p>
                    </div>
                    <div class="column-50">
                        <button id="submit" onclick="moveToNextPage('<%= item.dname %>','<%= item.did %>')">BOOK AN APPOINTMENT</button>
                    </div>
                </div>
            </div>
            <% } %>
            <% } %> 
    </div>

    <script>


        const userSpan = document.getElementById('userSpan');
        let isUserText = true;

        function toggleText() {
            if (isUserText) {
                userSpan.style.transform = 'scale(0)';
                userSpan.style.opacity = '0';
                setTimeout(() => {
                    userSpan.textContent = 'Dashboard';
                    userSpan.style.transform = 'scale(1)';
                    userSpan.style.opacity = '1';
                }, 500); // Transition duration in milliseconds
            } else {
                userSpan.style.transform = 'scale(0)';
                userSpan.style.opacity = '0';
                setTimeout(() => {
                    userSpan.textContent = '<%=user %>';
                    userSpan.style.transform = 'scale(1)';
                    userSpan.style.opacity = '1';
                }, 500); // Transition duration in milliseconds
            }
            isUserText = !isUserText;
        }

        setInterval(toggleText, 2000);

        document.getElementById("userSpan").addEventListener("click",()=>{
            window.location.href="/dashboard";
        })

        document.getElementById("logout").addEventListener("mouseover",()=>{
            const cardContainers = document.querySelectorAll('.card-container');
            cardContainers.forEach(cardContainer => {
                cardContainer.style.opacity="0";
            });
        })

        document.getElementById("logout").addEventListener("mouseout",()=>{
            const cardContainers = document.querySelectorAll('.card-container');
            cardContainers.forEach(cardContainer => {
                cardContainer.style.opacity="1";
            });
        });

        function moveToNextPage(parameter,id) {
            localStorage.setItem('parameter',parameter)
            // Change the location to the next HTML page
            window.location.href = "/doctorappo?parameter=" + encodeURIComponent(id);
        }

        document.getElementById("logout").addEventListener("click",()=>{
            document.getElementById("logout").textContent="Bye :("
            setTimeout(()=>{
                fetch('/logout').then((res)=>{
                if(res.ok){
                    window.location.href="/";
                }
            })
            },1500)
            
        });

        document.addEventListener("DOMContentLoaded", function(event) {
            document.body.classList.add("fade-in");
        });
    </script>

</body>
</html>