<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Products</title>
    <link rel="icon" href="/static/ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/productsstyle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <style>
        body{
            background-image: url('/static/bb.jpg');
            background-size: cover;
            background-attachment: fixed;

        }

        .headerproduct{
            background-color: rgba(0,0,0,0.5);
            font-size: 16px;
        }

        li{
            a{
                color: wheat;
            }
        }

        #logout{
            color: wheat;
        }
    </style>
</head>
<body>

    <header class="headerproduct">
        <a href="#" class="logo"><i class='bx bx-spa'></i>Ayurconnect</a>

        <ul class="navbar">
            <li><a href="/home" class="home-active"> Home </a></li>
            <li><a href="/ourdoctors">Our Doctors</a></li>
            <li><a href="/ayurvedatreatments">Ayurveda Treatment</a> </a></li>
            <li><a href="/ayurvedicproducts" class="prodlink">Ayurvedic Products</a></li>

        </ul>

        <div class="profile">
            <span id="userSpan" style="color: wheat;"><%= user %></span> 
                
            </i>
        </div>

        <div><button id="logout" onclick="logout">Logout</button></div>
    </header>
    
    <section class="home" id="home">
        <div class="content">
            <h3>Experience healing with <span>Ayurveda</span></h3>
            <p> A Website For All Your Ayurvedic,Herbal,Natural,And Homemade Products is Live.</p>

            <a href="#shopprod" class="btn">shop now </a>
        </div>
    </section>
    <section class="features" id="features">
        <h1 class="heading">Our Features</h1>
        <div class="box-container">
            <div class="box">
                <img src="images/fea-133.png">
                <h3> Natural and Pure</h3>
            </div>
            <div class="box">
                <img src="images/fea-3.png">
                <h3> Fast and Free delivery</h3>
            </div>
            <div class="box">
                <img src="images/fea-2.png">
                <h3> Easy Payment</h3>
            </div>
        </div>
    </section>
    <section class="products" id="product">
        <h1  id="shopprod" class="heading">Our Products</h1>
        <div class="swiper product-slider">
            <% if (data && data.length> 0) { %>
                <% for (item of data) { %>
                    <div class="swiper-wrapper1">
                        <div class="swiper-slide box">
                            <img src="<%= item.image%>">
                            <h1>
                                <%=item.pname %>    
                            </h1>
                            <h3><%=item.descrption %></h3>

                            <div class="price"> ₹<%=item.prize %>-</div>
                            <div class="price">Availability :<%=item.stock==0?" Not Available":" Available " %></div>
                            
                            <button onclick="payment('<%= item.pid %>')" class="btn">Buy now</button>
                        </div>
                    </div>
                    <% } %>
                <% }else { %>
                    <div class="swiper-slide box">
                        no product avaliable
                    </div>
            <% } %>
    </section>

    <script>
        
        const userSpan = document.getElementById('userSpan');
        let isUserText = true;

        function toggleText() {
            if (isUserText) {
                userSpan.style.transform = 'scale(0)';
                userSpan.style.opacity = '0';
                setTimeout(() => {
                    userSpan.textContent = 'Dashboard';
                    userSpan.style.transform = 'scale(1)';
                    userSpan.style.opacity = '1';
                }, 500); // Transition duration in milliseconds
            } else {
                userSpan.style.transform = 'scale(0)';
                userSpan.style.opacity = '0';
                setTimeout(() => {
                    userSpan.textContent = '<%=user %>';
                    userSpan.style.transform = 'scale(1)';
                    userSpan.style.opacity = '1';
                }, 500); // Transition duration in milliseconds
            }
            isUserText = !isUserText;
        }

        setInterval(toggleText, 2000);

        document.getElementById("logout").addEventListener("mouseover",()=>{
            const cardContainers = document.querySelectorAll('section');
            cardContainers.forEach(cardContainer => {
                cardContainer.style.opacity="0";
            });
        })

        document.getElementById("logout").addEventListener("mouseout",()=>{
            const cardContainers = document.querySelectorAll('section');
            cardContainers.forEach(cardContainer => {
                cardContainer.style.opacity="1";
            });
        });

        document.getElementById("logout").addEventListener("click",()=>{
            document.getElementById("logout").textContent="Bye :("
            setTimeout(()=>{
                fetch('/logout').then((res)=>{
                if(res.ok){
                    window.location.href="/";
                }
            })
            },1500)
            
        });

        document.addEventListener("DOMContentLoaded", function(event) {
            document.body.classList.add("fade-in");
        });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        function payment(pid){
            window.location.href="/payment?pid=" + encodeURIComponent(pid);
        }
    </script>

</body>
</html>