<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treatments</title>
    <link rel="icon" href="/static/ico.ico" type="image/x-icon">
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="/css/treatmentstyle.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>
<body>

    <header class="header">
        <a href="#" class="logo"><i class='bx bx-spa'></i>Ayurconnect</a>

        <ul class="navbar">
            <li><a href="/home" class="home-active"> Home </a></li>
            <li><a href="/ourdoctors">Our Doctors</a></li>
            <li><a href="/ayurvedatreatments" class="treatmentlink">Ayurveda Treatment</a> </a></li>
            <li><a href="/ayurvedicproducts">Ayurvedic Products</a></li>

        </ul>

        <div class="profile">
            <span id="userSpan" style="color: wheat;"><%=user %></span> 
                
            </i>
        </div>

        <div><button id="logout" onclick="logout">Logout</button></div>
    </header>

    <div class="container">
        <h2>Ayurveda Treatments</h2>
        <div class="treatments">
            <% if(data && data.length> 0){ %>
                <% for (item of data) { %>
                    <div class="treatment">
                        <div class="treatment-info">
                            <img src="<%=item.image %>" alt="image">
                            <h3><%=item.tname %></h3>
                            <p>
                               <%=item.description %>
                            </p>
                        </div>
                    </div>
                    <% } %>
                <% } %>
        </div>
    </div>
    <div class="book-now">
        <button id="bookNowButton">Book Now</button>
    </div>

    <script>
        document.getElementById("bookNowButton").addEventListener("click", function () {
            window.location.href = "/booking";
        });
    </script>

    <script>
        const userSpan = document.getElementById('userSpan');
        let isUserText = true;

        function toggleText() {
            if (isUserText) {
                userSpan.style.transform = 'scale(0)';
                userSpan.style.opacity = '0';
                setTimeout(() => {
                    userSpan.textContent = 'Dashboard';
                    userSpan.style.transform = 'scale(1)';
                    userSpan.style.opacity = '1';
                }, 500); // Transition duration in milliseconds
            } else {
                userSpan.style.transform = 'scale(0)';
                userSpan.style.opacity = '0';
                setTimeout(() => {
                    userSpan.textContent = '<%=user %>';
                    userSpan.style.transform = 'scale(1)';
                    userSpan.style.opacity = '1';
                }, 500); // Transition duration in milliseconds
            }
            isUserText = !isUserText;
        }

        setInterval(toggleText, 2000);

        document.getElementById("userSpan").addEventListener("click",()=>{
            window.location.href="/dashboard";
        })

        document.getElementById("logout").addEventListener("mouseover",()=>{
            const Containers = document.querySelectorAll('.container');
            Containers.forEach(Container => {
                Container.style.opacity="0";
            });
        })

        document.getElementById("logout").addEventListener("mouseout",()=>{
            const Containers = document.querySelectorAll('.container');
            Containers.forEach(Container => {
                Container.style.opacity="1";
            });
        });

        document.getElementById("logout").addEventListener("mouseover",()=>{
            const Containers = document.querySelectorAll('.book-now');
            Containers.forEach(Container => {
                Container.style.opacity="0";
            });
        })

        document.getElementById("logout").addEventListener("mouseout",()=>{
            const Containers = document.querySelectorAll('.book-now');
            Containers.forEach(Container => {
                Container.style.opacity="1";
            });
        });

        document.getElementById("logout").addEventListener("click",()=>{
            document.getElementById("logout").textContent="Bye :("
            setTimeout(()=>{
                fetch('/logout').then((res)=>{
                if(res.ok){
                    window.location.href="/";
                }
            })
            },1500)
            
        });


        

        document.addEventListener("DOMContentLoaded", function(event) {
            document.body.classList.add("fade-in");
        });

    </script>

</body>
</html>